<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>57x57.png</string>
		<string>114x114.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>80x80</string>
				<string>58x58</string>
				<string>29x29</string>
				<string>120x120</string>
				<string>114x114</string>
				<string>57x57</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>cbr.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
    <key>NSLocationAlwaysUsageDescription</key>
    <string></string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string></string>
	<key>UIAppFonts</key>
	<array>
		<string>JennaSue.ttf</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
		<string>location-services</string>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.datecs.linea.pro.msr</string>
		<string>com.datecs.linea.pro.bar</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>cbrURLActivityCreate</key>
	<string>http://sb-02-af01:9006/mobileservice/addactivity.json</string>
	<key>cbrURLActivityList</key>
	<string>http://sb-02-af01:9006/mobileservice/activities.json</string>
	<key>cbrURLActivityUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updateactivity.json</string>
	<key>cbrURLAssetCreate</key>
	<string>http://sb-02-af01:9006/mobileservice/addasset.json</string>
	<key>cbrURLAssetList</key>
	<string>http://sb-02-af01:9006/mobileservice/assets.json</string>
	<key>cbrURLAssetReference</key>
	<string>http://sb-02-af01:9006/mobileservice/referenceassets.json</string>
	<key>cbrURLAssetUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updateasset.json</string>
	<key>cbrURLAuthUser</key>
	<string>http://sb-02-af01:9006/mobileservice/logon.json</string>
	<key>cbrURLClaimsList</key>
	<string>http://sb-02-af01:9006/mobileservice/claims.json</string>
	<key>cbrURLCountKit</key>
	<string>http://sb-02-af01:9006/mobileservice/kitcount.json</string>
	<key>cbrURLEndSync</key>
	<string>http://sb-02-af01:9006/mobileservice/endsync.json</string>
	<key>cbrURLFacilityContactCreate</key>
	<string>http://sb-02-af01:9006/mobileservice/addcontact.json</string>
	<key>cbrURLFacilityContactList</key>
	<string>http://sb-02-af01:9006/mobileservice/faccontacts.json</string>
	<key>cbrURLFacilityContactUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updatecontact.json</string>
	<key>cbrURLFacilityCreate</key>
	<string>http://sb-02-af01:9006/mobileservice/addfacility.json</string>
	<key>cbrURLFacilityDelete</key>
	<string>http://sb-02-af01:9006/mobileservice/deletefacility.json</string>
	<key>cbrURLFacilityList</key>
	<string>http://sb-02-af01:9006/mobileservice/facilities.json</string>
	<key>cbrURLFacilityStatList</key>
	<string>http://sb-02-af01:9006/mobileservice/facilityStats.json</string>
	<key>cbrURLFacilityUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updatefacility.json</string>
	<key>cbrURLOrderKits</key>
	<string>http://sb-02-af01:9006/mobileservice/orderkits.json</string>
	<key>cbrURLProviderCreate</key>
	<string>http://sb-02-af01:9006/mobileservice/addprovider.json</string>
	<key>cbrURLProviderList</key>
	<string>http://sb-02-af01:9006/mobileservice/providers.json</string>
	<key>cbrURLProviderStatList</key>
	<string>http://sb-02-af01:9006/mobileservice/providerStats.json</string>
	<key>cbrURLProviderUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updateprovider.json</string>
	<key>cbrURLRMData</key>
	<string>http://sb-02-af01:9006/mobileservice/rminfo.json</string>
	<key>cbrURLRMFullSync</key>
	<string>http://sb-02-af01:9006/mobileservice/rmfullsync.json</string>
	<key>cbrURLRMFullSyncUpdate</key>
	<string>http://sb-02-af01:9006/mobileservice/updatermfullsync.json</string>
	<key>cbrURLReceiveKit</key>
	<string>http://sb-02-af01:9006/mobileservice/receivekit.json</string>
	<key>cbrURLRenewUser</key>
	<string>http://sb-02-af01:9006/mobileservice/renewtoken.json</string>
	<key>cbrURLSalesMetrics</key>
	<string>http://sb-02-af01:9006/mobileservice/rmsalesmetrics.json</string>
	<key>cbrURLSendEmail</key>
	<string>http://sb-02-af01:9006/mobileservice/sendEmail.json</string>
	<key>cbrURLTransferKit</key>
	<string>http://sb-02-af01:9006/mobileservice/transferkit.json</string>
</dict>
</plist>
